{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 id="title">{{ user.first_name }}'s notes</h1>
<form method="post" id="formNote">
    <textarea name="note" id="note" class="form-control" placeholder="Write note"></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </div>
</form>
<ul class="list-group list-group-flush" id="notes" class="ListNotes">
    {% for note in user.notes %}
        <li class="lit-item-group-item">
            <p id="noteData">{{ note.data }}</p>
            <button type="button"  onClick="deleteNote({{ note.id }})" class="btn btn-secondary" id="delete">Delete</button>
            <a href="/update/{{ note.id }}" class="btn btn-secondary" id="update">Update</a>
        </li>

    {% endfor %}
</ul>

{% endblock %}